/* GLOBAL STYLES */
:root {
  --background: rgba(238, 121, 181, .5);
}

* {
  box-sizing: border-box;
  transition: all ease-in-out 250ms;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-size: 16px;
  color: pink;
  background: black;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: pink;
}

a:hover {
  color: white;
}


.container {
  width: 95%;
  /* max-width: 1100px; */
  margin: 0 auto;
}

/* TYPOGRAPHY */
/*  font-family: 'Bungee Shade', cursive;

    font-family: 'Monofett', cursive;

    font-family: 'Quicksand', sans-serif;

*/
/* BUTTONS */
.button {
  display: inline-block;
  font-size: 1.15rem;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 3px;
  border-style: solid;
  padding: .5em 1.75em;
  background-color: pink;
  margin: 0;
}

.button-small {
  font-size: .7rem;
  font-weight: 700;
  background: none;
}

.button-accent {
  color: pink;
  border-color: #00ff6c;
}

.button-accent-cta {
  color: black;
  border-color: #00ff6c;
}

.button-accent:hover,
.button-accent:focus {
  background: #00ff6c;
  color: #232323;
}

.button-accent-cta:hover,
.button-accent-cta:focus {
  background: #00ff6c;
  color: #232323;
}

/* INDEX PAGE */
/* nav styles */
header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  padding: 2em 0;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: orange;
  height: 3px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: .7em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: .8rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #000;
}

.nav-toggle:checked~nav {
  transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 1000px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr minmax(800px, 6fr) 8fr;
  }

  nav {
    all: unset;
    grid-column: 2 / 3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  nav ul {
    display: flex;
    justify-content: flex-start;
  }

  nav li {
    margin-right: 2em;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: '';
    display: block;
    height: 2px;
    background: orange;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }
}

.home-hero {
  background-color: black;
  padding: 10em 0 6.5em;
  margin: 0;
  width: 100vw;
  margin-left: -2.5%;
}

.title {
  font-family: 'Bungee Shade', cursive;
  font-size: 2em;
}

.hero-subtitle {
  font-family: 'Monofett', cursive;
  color: orange;
}

.desk-version {
  display: none;
}

@media (min-width: 500px) {
  .home-hero {
    padding: 13em 0 9.5em;
  }
}

@media (min-width: 800px) {
  .title {
    font-size: 3em;
  }

  .hero-subtitle {
    font-size: 2.5em;
  }
}

.a {
  color: red;
}

.b {
  color: orange;
}

.c {
  color: yellow;
}

.d {
  color: green;
}

.e {
  color: blue;
}

.f {
  color: purple;
}

.g {
  color: #f450f4;
}

.h {
  color: red;
}

.i {
  color: orange;
}

.j {
  color: yellow;
}

.k {
  color: green;
}

.l {
  color: blue;
}

.m {
  color: purple;
}

.n {
  color: #f450f4;
}

.o {
  color: red;
}

.neon-hero {
background-image: url(../images/hero.jpg);
background-size: cover;
background-position: center;
padding: 3em 0;
width: 100vw;
margin-left: -2.5%;
}

/* SERVICE SECTION */
.services-section {
  padding: 1.5em;
  background-color: black;
  margin: 0;
  width: 100vw;
  margin-left: -2.5%;
}

.service-title {
  font-family: 'Monofett', cursive;
  font-size: 1.7em;
}

.service-para {
  line-height: 1.5em;
  padding: 1em;
}

.first-para {
  border: 2px solid orange;
}

.second-para {
  border: 2px solid orange;
}

.third-para {
  border: 2px solid orange;
}

.service-textbox {}

.break-section {
  background-image: url(../images/thread-floyd.jpg);
  background-size: cover;
  background-position: center;
  padding: 7em 0;
  width: 100vw;
}

@media (min-width: 400px) {
  .break-section {
    padding: 11em 0;
  }
}
@media (min-width: 500px) {
  .service-para {
    margin: 2em;
    padding: 3em 2.5em;
  }

  .service-title {
    font-size: 2.3em;
    padding-top: 1em;
  }

  .services-section {
    padding-top: 2.5em;
  }

  .break-section {
    padding: 12em 0;
  }
}

@media (min-width: 800px) {
  .service-para {
    margin: 0 5em 0;
    padding: 3em 2em;
    font-size: 1.3rem;
  }

  .break-section {
    padding: 20em 0;
  }
}

/* PORTFOLIO SECTION */

.portfolio-section {
  background-color: black;
  /* padding: 2.5em 0 2.5em 0; */
  margin: 0;
  width: 100vw;
  margin-left: -2.5%;
}

.portfolio-textbox {
  padding: 3em 1em 3em 1em;
}

.port-para {
  border: 2px solid orange;
  padding: 1em;
  margin: 1em;
  line-height: 1.5em;
}

.price-para {
  font-family: 'Monofett', cursive;
  font-size: 1.5em;
  margin-bottom: .2em;
  margin-top: 0;
}

.port-item {
  margin: 0;
  position: relative;
}

.port-item img {
  display: block;
}

.port-desc {
  position: absolute;
  z-index: 100;
  /* bottom: 2em;
  left: 6em;
  right: 6em;  */
  color: pink;
  background: rgba(0, 0, 0, .6);
  padding-bottom: 1em;
  padding-top: .5em;
  bottom: 0em;
  left: 0em;
  right: 0em;

}

@media (min-width: 500px) {
  .port-para {
    margin: 2em;
    padding: 3em 2.5em;
  }
}

@media (min-width: 800px) {
  .port-para {
    margin: 0 5em 0;
    padding: 3em 2em;
    font-size: 1.3rem;
  }

  .portfolio-textbox {
    padding-bottom: 9em;
    padding-top: 7em;
  }

}


@media (min-width: 500px) {
  .port-item {
    width: 50%;
    float: left;
  }
}

@media (min-width: 900px) {
  .port-item {
    width: 33.3333334%;
    overflow: hidden;
  }

  .port-desc {
    transform: translateY(150%);

  }

  .port-item:hover .port-desc {
    transform: translateY(0%);
  }
}


/* CTA SECTION */

.cta-section {
  background-image: url(../images/buttons-1.jpg);
  background-size: cover;
  background-position: center;
  padding: 4em 0;
  width: 100vw;
  margin-left: -2.5%;
}



@media screen and (min-width: 500px) {
  .cta-section {
    padding: 7em 0;


  }
}

@media screen and (min-width: 800px) {
  .cta-section {
    padding: 8em 0;
  }
}

/* CAROUSEL */
/*
.carousel-section {
  width: 100%;
  margin-left: -2.5%;
  margin: 5em 0 5em 0;
  padding: 5em 0 5em 0;
  border: 2px solid blue;

}


.carousel__image {
  object-fit: cover;
  width: 100%;
  height: 100%

}

.carousel__track-container {
  background: lightgreen;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;

}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel__button {
  /* position: absolute; */
/* background: transparent;
  border: 0;
  cursor: pointer;

}

.carousel__button img {
  width: 25px;
}

.carousel__button--left {
}

.carousel {
  border: 2px solid red;
  position: relative;
  height: 600px;
  width: 80%;
  margin: 10em auto;
  padding: 1em 1.5em 6em;;
}  */
/* FOOTER */
footer {
  background-color: black;
  justify-content: space-around;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

.unstyled-list {
  margin: .5em;
  padding: 1em;
  list-style-type: none;
}

li {
  padding-top: .5em;
}

.list-title {
  padding: .5em 0;
}

.footer-subtitle {
  font-family: 'Monofett', cursive;
  color: orange;
}

@media (min-width: 500px) {
  .footer-flexbox-container {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-flexbox-container>* {
    flex: 1 1 10em;
  }
}

/* ABOUT PAGE */
.about-hero {
  background-image: url(../images/neon-crinkle-2.jpg);
  background-size: cover;
  background-position: center;
  padding: 2em 0;
  width: 100vw;
  margin-left: -2.5%;
}

.about-textbox {
  background: black;
  margin: 3em 1em;
  padding: 1em;
}

/* CONTACT PAGE */
.contact-hero {
  background-image: url(../images/neon-crinkle-2.jpg);
  background-size: cover;
  background-position: center;
  padding: 2em 0;
  width: 100vw;
  margin-left: -2.5%;
}

.contact-textbox {
  background: black;
  margin: 6.5em 1em 3em;
  padding: 1em;
}

/* SERVICES PAGE */
.services-hero {
  background-image: url(../images/tuft.jpg);
  background-size: cover;
  background-position: center;
  padding: 4.5em 0 3em;
  width: 100vw;
  margin-left: -2.5%;
}

.service-listing {
  background: black;
  margin: 0;
}

.do-not-yet {
  padding: 1em;
}

.service-subtitle {
  color: orange;
}

.service-listing-2 {
  background: black;
  text-align: left;
}

.service-listing-subtitle {
  text-align: center;
  font-family: 'Monofett', cursive;
  color: orange;
}

/* . {
  background-image: url(../images/neon-crinkle.jpg);
  background-size: cover;
  background-position: center;
  padding: 4em 0;
  width: 100vw;
  /* margin-left: -2.5%; */
.contact-cta-section {
  background-image: url(../images/neon-crinkle.jpg);
  background-size: cover;
  background-position: center;
  padding: 4.5em 0 3em;
  width: 100vw;
  margin-left: -2.5%;
}

/* DESKTOP */
@media (min-width: 1000px) {
  .home-hero {
    background-image: url(../images/rainbow-fab.jpg);
    background-size: cover;
    background-position: center;
    padding: 15em 1.5em;
    width: 100vw;
    margin-left: -2.5%;
  }

  .mobile-version {
    display: none;
  }

  .desk-version {
    display: contents;
  }

  .desk-title {
    font-family: 'Bungee Shade', cursive;
    font-size: 3.5em;
    color: black;
    display: block;
  }

  .home-hero {
    text-align: right;
  }

  .neon-hero {
    display: none;
  }

  .break-section {
    padding: 15em 0 30em 0;
  }

  .services-section {
    padding: 1.5em 1.5em;
    background-color: black;
    margin: 0;
    width: 100vw;
    margin-left: -2.5%;
    display: flex;
  }

  .service-title {
    font-family: 'Monofett', cursive;
  }

  .service-para {
    margin: 0 1em 0;
    padding: 1em 1em;
    font-size: 1rem;
  }

  .single-line {
    padding-top: 2.15em;
  }

  .third-para {
    padding-bottom: 2.5em;
  }
}

/* MEDIA QUERIES */
