/* GLOBAL STYLES */

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-size: 16px;
  color: pink;


}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 95%;
  /* max-width: 1100px; */
  margin: 0 auto;
}


/* TYPOGRAPHY */

/*  font-family: 'Bungee Shade', cursive;

    font-family: 'Monofett', cursive;

    font-family: 'Quicksand', sans-serif;

*/


/* index page */

.home-hero {
  background-color: black;
  padding: 5em 0;
  margin: 0;
  width: 100vw;
  margin-left: -2.5%;
  }



.hero-title {
  font-family: 'Bungee Shade', cursive;
  font-size: 2em;
}

.hero-subtitle {
  font-family: 'Monofett', cursive;
  color: orange;
}


/* Optional Hero */


.home-hero-option {
  background-image: url(../images/hero.jpg);
  background-size: cover;
  background-position: center;
  padding: 6em 0;
  /* padding: 30em 1em 0 0; */
  width: 100vw;
  margin-left: -2.5%;
}

.hero-title-option {
  font-family: 'Bungee Shade', cursive;
  font-size: 1.8em;
  background-color: black;
  padding: 1em .5em;
  margin-left: 1em;
  margin-right: 1em;
}

.hero-subtitle-option {
    font-family: 'Monofett', cursive;
    color: orange;
    background-color: black;
    padding: .2em .2em;
    margin-left: 3.5em;
    margin-right: 3.5em;
}

/* optional hero end */

.services-section {
  padding: 1em;
  /* background-color: black; */
  margin: 0;
  width: 100vw;
  margin-left: -2.5%;
}

.service-title {
  font-family: 'Monofett', cursive;
  font-size: 1.7em;
}


.service-para {
  padding: 1em;
  line-height: 1.5em;
}

.a {
  color: red;
}

.b {
  color: orange;
}

.c {
  color: yellow;
}

.d {
  color: green;
}

.e {
  color: blue;
}

.f {
  color: purple;
}

.g {
  color:  #f450f4;
}


.h {
  color: red;
}

.i {
  color: orange;
}

.j {
  color: yellow;
}

.k {
  color: green;
}

.l {
  color: blue;
}

.m {
  color: purple;
}

.n {
  color:  #f450f4;
}

.o {
  color: red;
}
